
@media (min-width: 820px) {
    .header--scroll{
        background-color: inherit;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
    }
    .header--scroll .header__logo{
        background-color: #2C2C2C;
    }

    .header--scroll .nav__link{
        border-radius: 5px;
        background-color: #2C2C2C;
        height: 50%;
        margin-right: 10px;
    }

    .header--scroll .nav__link.active{
        background-color: #FF3E2F;
    }
    .header--scroll .nav__link:hover{
        background-color: #004AF2;
    }

}



/* media queries max width */
/*---------- 1020px ----------*/
@media(max-width: 1020px){
    /*---------- our clients ----------*/

    .clients{

    }

    .clients__brand{
        flex-basis: 50%;
        background-size: contain;
        background-repeat: repeat-y;
    }
    .clients__logo{
        margin-right: 10px;
    }
    .clients__logo img{
        display: block;
        width: 80%;
    }
    .clients__feedback{
        flex-basis: 50%;
    }
}
/*---------- 820px ----------*/
@media (max-width: 820px){
    /*---------- section ----------*/
    .section__title{
        text-align: center;
    }
    .section__phone-title {
        font-size: 40px;
    }
    /*---------- header ----------*/
    .header{
        background-color: rgba(0,0,0, .85);
    }
    .header__inner{
        height: 50px;
    }
    /*---------- nav ----------*/
    .nav__burger{
        display: block;

    }
    .nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 50px);
        flex-direction: column;
        align-items: stretch;
        background-color: rgba(0,0,0, .85);
    }
    .nav__link{
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    .nav__link:hover{
        background-color: inherit;
    }

    /*---------- intro ----------*/
    .intro__inner{
        height: auto;
        min-height: 100vh;
    }
    .form--intro{
        bottom: 20px;
    }

    .intro__text{
        margin: auto 0;
    }
    .intro__subtitle{
        font-size: 12px;
    }
    .intro__title{
        font-size: 70px;
    }

    /*---------- services ----------*/
    .services{
        justify-content: space-around;

    }
    .services__item{
        width: 40%;
        padding: 0;

    }

    /*---------- our clients ----------*/

    .clients{
        flex-direction: column;
    }
    .clients__brand ul{
        justify-content: center;
    }
    .clients__feedback{

    }
    .clients__brand{
    }
    .clients__logo{
        margin-right: 0;
    }
    .clients__logo img{
        width: 50%;
    }
    .clients__feedback{
        margin-top: 20px;
    }
    .clients__feedback .feedback__header{
        flex-direction: column;
    }
    .clients__feedback .feedback__avatar-wrapper{
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    .clients__feedback .feedback__avatar{
        margin-right: 0;
    }
    .clients__buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* benefits */
    .benefits__dashes{
        background-image: linear-gradient(to bottom, #A5A5A5 40%, #A5A5A5 40%);
        background-size: 1px 35px;

    }
    .benefits{
        flex-direction: column;
    }
    .benefits__list{

    }
    .benefits__list:before, .benefits__list:after{

    }
    .benefits__item{
        margin-top: 10px;
        margin-left: 20px;
    }

    .benefits__image{
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    /*---------- team ----------*/
    .team{
        justify-content: center;
    }
    .team__item{
        flex-basis: 60%;
    }
    .team__content{

    }
    .team__image{
        display: flex;
        justify-content: center;
    }
    .team__image img{

    }

    /*---------- mission ----------*/
    .mission__first-text{
        font-size: 20px;
    }
    .mission__second-text{
        font-size: 15px;
    }
}



/*---------- 700px ----------*/
@media (max-width: 700px){
    /*---------- intro ----------*/
    .intro__inner{

        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .form--intro{
        display: none;
    }
    .button--intro{
        display: block;
        margin-top: 40px;
        height: 60px;

    }
    .intro__text{
        margin: 0;

    }
    .intro__subtitle{
        text-align: start;
        margin-left: 10px;
    }
    .intro__title{
        text-align: start;
    }
}
/*---------- 600px ----------*/
@media (max-width: 600px){
    /*---------- section ----------*/
    .section{
        padding: 50px 0;
    }
    /*---------- services ----------*/
    .services{

    }
    .services__item{
        width: 90%;
        padding: 0;

    }
    /*---------- team ----------*/
    .team{

    }
    .team__item{
        flex-basis: 80%;
    }
    /*---------- mission ----------*/
    .mission__content{
        display: block;
        padding: 50px 0;
    }
    .mission__first-text, .mission__second-text{
        max-width: 90%;
        margin: 0 auto;
    }
    .mission__border-gradient{
        /*position: relative;*/
        width: 100%;
    }


    /*---------- articles ----------*/
    .articles-preview__list{
        flex-wrap: wrap;
    }
    .articles-preview__item{
        flex-basis: 100%;
        margin-top: 30px;
    }

    /* ---------- footer ---------- */
    .section--footer{
        /*background-size: cover;*/
        background-size: 40%, 40%;
    }
}

/*---------- 300px ----------*/
@media (max-width: 300px){
    /*---------- services ----------*/
    .services{

    }
    .services__item{
        width: 95%;
        padding: 0;

    }
    /* benefits */
    .benefits__item{
        margin-left: 10px;
    }


    /*---------- team ----------*/
    .team{

    }
    .team__item{
        flex-basis: 90%;
    }

}
